/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Home
- About (updated)
- Information
- Button
- Services
- Plans
- Testimonials
- Newsletter
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/**************************/
/*     General Styles     */
/**************************/
:root {
  --primary: #1c262f;
  --primary-light: #212d37;
  --secondary: #0ee951;
  --tertiary: #00dabf;
  --gradient: linear-gradient(to right, #0ee951, #00dabf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 500;
}

button {
  font-family: sans-serif;
}

p,
ul,
h4 {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Section Background */
.home,
.about,
.services,
.plans,
.work,
.contact {
  height: 110vh;
  position: relative;
}

.services,
.work,
.contact,
.testimonial,
.footer {
  background-color: var(--primary);
}

.about,
.plans,
.company,
.newsletter,
.location {
  background-color: var(--primary-light);
}

.bottom {
  background-color: black;
}

/* Gradient Text On Icons */
.home_text,
.home .fas,
.plans .far,
.information .fas,
.work .fas,
.services .fas,
.location .far,
.location .fas {
  padding: 15px 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0ee951),
    to(#00dabf)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav a:hover,
.footer a:hover,
.footer .fab:hover {
  cursor: pointer;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**********************/
/*     Navigation     */
/**********************/
.navbar {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.875rem;
  background-color: var(--primary);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
}

.navbar .navbar-brand {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar .logo-image img {
  width: 108px;
  height: 32px;
}

.navbar .logo-text {
  color: #fff;
  font-weight: 500;
  line-height: 1rem;
  font-size: 1.575rem;
  text-decoration: none;
}

.offcanvas-collapse {
  position: fixed;
  top: 2.75rem;
  bottom: 0;
  left: 100%;
  width: 100%;
  overflow-y: auto;
  visibility: hidden;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--primary);
  transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  transform: translateX(-100%);
}

.navbar .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar .dropdown-menu {
  border: none;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--primary);
}

.navbar .dropdown-item {
  color: #eee;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-decoration: none;
}

.navbar .dropdown-item:hover {
  background-color: var(--primary);
}

.navbar .dropdown-divider {
  width: 100%;
  height: 1px;
  border: none;
  margin: 0.5rem auto;
  background-color: var(--primary-light);
}

.navbar .nav-item .nav-link {
  color: #eee;
  text-decoration: none;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  transition: all 0.2s ease;
}

.navbar .fa-stack {
  width: 2em;
  font-size: 0.75rem;
  margin-right: 0.25rem;
}

.navbar .fa-stack-2x {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0ee951),
    to(#00dabf)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
  color: #ffffff;
  transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x,
.navbar .fa-stack:hover .fa-stack-1x {
  color: var(--primary);
}

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  font-size: 1.25rem;
}

/****************/
/*     Home     */
/****************/
.home {
  background-image: url(../assets/images/home.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.para {
  width: 50%;
}

.para-light {
  opacity: 0.7;
}

/****************/
/*     About     */
/****************/
/* Remove borders and shadows from About section */
.about,
.about * {
  border: none !important;
  box-shadow: none !important;
}

/***********************/
/*     Information     */
/***********************/
.information .container-fluid .row div:first-child {
  background-color: var(--primary);
}

.information .container-fluid .row div:last-child {
  background-color: white;
}

.information .container-fluid .row div:nth-child(2) {
  background-color: var(--primary-light);
}

/******************/
/*     Button     */
/******************/
.btn {
  color: white;
  border-radius: 0;
  border-width: 2px;
  padding: 10px 30px;
  border-image-slice: 1;
  background: transparent;
  border-image-source: var(--gradient);
  box-shadow: 5px 5px 0px 0px var(--secondary);
}

.btn:hover {
  color: white;
  box-shadow: none;
  transform: translate(5px, 5px);
}

.btn-secondary {
  color: black;
  border-width: 2px;
  padding: 10px 30px;
  background: transparent;
  border-image-source: var(--gradient);
}

.btn-secondary:hover {
  color: black;
  background-image: var(--gradient);
}

.btn-tertiary {
  color: black;
  border-radius: 0;
  border-width: 2px;
  padding: 10px 30px;
  background: transparent;
  border-image-source: var(--gradient);
  box-shadow: 5px 5px 0px 0px var(--secondary);
}

.btn-tertiary:hover {
  color: black;
  box-shadow: none;
  transform: translate(5px, 5px);
}

/********************/
/*     Services     */
/********************/
.services .card {
  padding: 20px;
  border-radius: 0;
  border: 2px solid white;
}

.services .card:hover {
  border: 2px solid var(--gradient);
  transform: scale(1.01);
  box-shadow: 5px 5px 0px 0px #0ee951;
}

/*****************/
/*     Plans     */
/*****************/
.plans .card {
  padding: 20px;
  border: 2px solid white;
}

/**********************/
/*   Testimonials     */
/**********************/
.testimonial-card {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: var(--gradient);
}

.slider-1 .card {
  border: none;
  background-color: transparent;
}

/**********************/
/* Newsletter / Forms */
/**********************/
.form-control-input,
.form-control-textarea {
  width: 100%;
  appearance: none;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.775rem;
  padding-bottom: 0.775rem;
}

/******************************/
/* Back To Top Button */
/******************************/
#myBtn {
  z-index: 99;
  right: 20px;
  width: 52px;
  height: 52px;
  bottom: 20px;
  border: none;
  outline: none;
  display: none;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  background-color: #323137;
}

#myBtn:hover {
  background-color: #0f0f11;
}

#myBtn img {
  width: 18px;
  margin-left: 0.125rem;
  margin-bottom: 0.25rem;
}

/***********************/
/* Extra Pages          */
/***********************/
.ex-header {
  padding-top: 8.5rem;
  padding-bottom: 4rem;
  background-color: var(--primary);
}

.ex-header h1 {
  color: #fff;
}

/**********************/
/* Media Queries      */
/**********************/
@media only screen and (max-width: 1024px) {
  .services,
  .work,
  .testimonial,
  .about,
  .contact,
  .plans {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .navbar {
    box-shadow: none;
    transition: all 0.2s;
    padding-top: 1.75rem;
    background-color: transparent;
  }

  .navbar.top-nav-collapse {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--primary);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
  }
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 30px;
  }

  .para {
    width: 100%;
  }
}
